.modal-body {
    color:rgb(52,58,64);
    border-radius: 8px;
    background: rgb(244, 246, 247,0.2);
    
    box-shadow: black 0.2px 0.2px 30px;
  
}
.modal-body h1{
    font-weight: 100;
    display: inline-block;
    color:rgb(52,58,64);
    
}

.profile-img {
    height: 200px;
    width:200px;
    border-radius: 50%;
    object-fit: cover;
}
h1 {
    text-align: center;
    display: block;
}
section {
   margin: 5px;
    border: 1px darkgray solid;
    box-shadow: 0.1px 0.1px 15px darkgray;
    border-radius: 2%;
    padding: 20px;
    
}
